body{
    max-width:960px;
    margin-left: auto;
    margin-right: auto;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    display:block;
    color: #000000;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
}
#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}